<!DOCTYPE html>
<html> <head> </head> <body>
	
<h1> CTD's Coding Teams! </h1>
<h2> Administrative Panel </h2>

<!--Link to View all Teams-->
<a href="/viewteams">View All Teams</a> <br>

<!--Link to View all Members-->
<a href="/viewusers">View All Members</a> <br>

<!--Look up an individual Team Member or a Team-->
<a href="/lookup"> LookUp </a> <br>

<!--<ul>-->
<!--	<% @teams.each do |e| %>-->
<!--	<li><%= e.name + "  " + e.notes %></li>-->
<!--	<% end %>-->
<!--</ul>-->
<!--<br>-->





<!--Look up an individual Team-->

<!--Add a new Team Member-->

<!--Add a new Team-->





<!--<ul>-->
<!--	<% @users.each do |e| %>-->
<!--	<li><%= e.id.to_s + "  " + e.email %></li>-->
<!--	<% end %>-->
<!--</ul>-->
<!--<br>-->

<!--<h1> Admin Features</h1>-->

<!--<a href="/new">Add New User</a> <br>-->
<!--<a href="/remove">Delete a User</a> <br>-->


</form>	
</body> </html>