<!DOCTYPE html>
<html> <head> </head> <body>

<h3>Member Name: <%= @user.name %> </h3>
<p>User id: <%= @user.id.to_s %> </p>
<p>Email: <%= @user.email %> </p>
<p>Team: <%= @user.team.name %> </p>

<a href="/lookup">Back to Lookup Page</a> <br>
<a href="/">Back to Admin Panel</a> <br>
	
</body>
</html>