<!DOCTYPE html>
<html> <head> </head> <body>

<form action="/lookupuser" method="post">
	
<h1> Look up an individual member </h1>
<span> Name  </span>  
	<Input type="text" name="name">
	<span>
	<Input type="submit" value="Submit">	
	<br>
	<br>
		
</form>	

<form action="/lookupteam" method="post">
	
<h1> Look up Team information </h1>
<span> Team  </span>  
	<Input type="text" name="name">
	<span>
	<Input type="submit" value="Submit">	
	<br>
	<br>
	<br>
	
<a href="/">Back to Admin Panel</a> <br>
		
</form>	
</body>
</html>