<!DOCTYPE html>
<html> <head> </head> <body>
	

<h1> View All Teams </h1>

<ul>
	<% @teams.each do |e| %>
	<li> <%= e.name + " | " + e.notes %> </li>
	<% end %>
</ul>
<br>


<a href="/">Back to Admin Panel</a> <br>

</body>
</html>
